<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio2</title>
</head>
<body>
    <h2>{{ titulo }}</h2>
<form action="{% url 'ejercicio2:formuejer2' %}" method="post">
    {% csrf_token %}
    Introduzca el diametro en metros:<input type="text" name="diametro"><br>
    Introduzca la altura en metros:<input type="text" name="altura"><br>
    
    // Botón de enviar<input type="submit" name="submit" value="Enviar">
</form>
</body>
</html>